@@ -1,4 +1,3 @@

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
@@ -14,4 +13,14 @@ body {
* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
}
